<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestSplashScreen.Properties.Settings.airqualitydbConnectionString"
            connectionString="server=localhost;user id=root;password=jasimaoIPG2018;persistsecurityinfo=True;database=airqualitydb"
            providerName="MySql.Data.MySqlClient" />
        <add name="TestSplashScreen.Properties.Settings.airqualitydbConnectionString1"
            connectionString="server=localhost;user id=root;password=jasimaoIPG2018;persistsecurityinfo=True;database=airqualitydb;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>